@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}

.portfolio-main {
  min-height: 130vh;
  background: linear-gradient(153.28deg, rgba(255, 255, 255, 0.4) 1.19%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(70px);
}

.container {
  width: 100%;
  padding: 0 100px;
}

header {
  padding-top: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content-wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-left span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #292423;
  margin-bottom: 10px;
}

.col-left h1 {
  font-size: 40px;
  font-weight: 800;
  color: #292423;
  margin-bottom: 15px;
}
.col-left h10 {
  font-size: 40px;
  font-weight: 800;
  color: #292423;
  margin-bottom: 15px;
}

.col-left p {
  width: 85%;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.45;
  color: #292423;
  margin-bottom: 20px;
}

a.btn-main {
  display: flex;
  align-items: center;
  padding: 13px 25px;
  background: #292423;
  width: 190px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 35px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

a.btn-main:hover {
  background: #fff;
  color: #292423;
}

a.btn-main span {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: #35343d;
  border-radius: 50%;
  margin-left: 12px;
  transition: all 0.3s;
  text-align: center;
}

a.btn-main:hover span {
  background: #ccc;
}

.experience-section {
  width: 100%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(42px);
  border-radius: 20px;
}

.experience-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-icon {
  font-size: 30px;
}

.footer-section {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.footer-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-section p {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  header {
    padding-top: 15px;
  }

  .container {
    padding: 0 20px;
  }

  .main-content-wrapper {
    margin-top: 50px;
    height: auto;
    flex-direction: column-reverse;
  }

  .portfolio-main {
    height: auto;
  }

  .col-left {
    margin-top: 50px;
  }

  .col-left span {
    font-size: 16px;
  }

  .col-left h1 {
    font-size: 30px;
  }


  .col-left p {
    width: 100%;
  }

  .experience-section {
    margin-top: 36px;
    padding: 0;
    background: transparent;
  }

  .experience-inner {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

.toggle-bar {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.toggle-bar span {
  display: block;
  width: 100%;
  height: 3px;
  background: #292423;
  border-radius: 10px;
  margin-bottom: 4px;
}

@media (min-width: 1200px) {
  .toggle-bar {
    display: none;
  }
}
